// $head-height:5rem;
// $padding-universal-left:1.1rem;
// $padding-inside:1.2rem;
// $text-color:#291507;



@import "global";



*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}

section{
    max-width:100%;
}

.home{
   

    .home-curve{
        border-radius:40px;
        overflow: hidden;

        .top{
          width:100%;
          background:url('../Assests/HeroImagesm.png') center / cover no-repeat;
          position: relative;
      
          padding:2rem $padding-inside 2rem $padding-inside;
         

         
          div{
            
              width:85%;
              display:flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;
              
            
              span:nth-child(1){
              font-family:'Mystery_Quest';
              color:#ffffff;
              font-size: 1.5rem;
              line-height:1.2rem;
              font-style: normal;
              margin-bottom:1rem;
              
          
            
          }

          span:nth-child(2){
            display: -webkit-box !important;
            color:#ffffff;
            font-family: 'Montserrat';
            font-size:1.1rem;
            font-weight: 500;
            font-style: normal;
            line-height:1.8rem;
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
             white-space: normal;
             margin-bottom:1rem;
            }

            .search-container{
                width:50%;
                border-radius:20px;
                overflow: hidden;
                background:#ffffff;
                display:flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding:0.45rem;
                max-width:55%;
                
                
               
                input{
                  
                    width:0;
                    flex:0.7;
                    height:100%;
                    padding:0.2rem 0.6rem;
                    outline:none;
                    border:none;
                    background:transparent;

                    

                 &::placeholder{
                    color:#291507;
                    font-weight:600px;
                }

                }

                .search__button{
                    flex:0.3;
                     border:none;
                     outline: none;
                     background-color:transparent;
                     justify-self: left;
                     display: flex;
                     justify-content: center;
                     align-items: center;

                    &:hover{
                      background-color:#ffffffef;
                    }

                    .uil-search{
                     font-size:1.1rem;

                    }

                }
          
            }

          }

        }
        .bottom{
            background: #E3E1DC;
           
            padding:$padding-inside;
            display: flex;
            flex-direction: column;
         
            .first_cap{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight:bold;
                font-size:1.1rem;
                line-height: 15px;
              
                color: $text-color;
                margin-bottom:1.2rem;


                &::after{
                  content: "";
                  display: block;
                  width:60px;
                  background-color:#4D270C;
                  height:0.2rem;
                  margin-top:0.8rem;
                  border-radius:77px;
                }
            }

            .second_cap{
             
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                 white-space: normal;
                 font-size:1.5rem;
                 width:90%;
                 color:$text-color;
                 font-family: 'Montserrat';
                font-style: normal;
                font-weight:bold;
                margin-bottom:2rem;
                 


            }
            
        }
    }
}






.grid__container{
    display:grid;
    grid-template-columns:repeat(2,minmax(0,1fr));
    column-gap:0.8rem;
    row-gap:1.5rem;
    margin-bottom:1.5rem;   
    place-items:center;
    padding-bottom:1rem;
    


    div:first-child{
 
      position: relative;
      z-index:1;

      &::after{
          content:"";
          position:absolute;
          height:70%;
          width:50px;
          background-color:#DEC68B;
          top:10%;
          left:-3%;
          border-radius:14px;
          z-index: -1;
        }

    }

    div{
        
        img{
         
          border-radius:20px;
          max-width:100%;
          object-fit: cover;
          
        }
        
        &:hover{
            transform:scale(1.05);
        }

    }


}


.figure__caption{
    display: block;
    text-align:justify;
    margin-top:0.2rem;
    padding-left:0.8rem;

    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size:1rem;
line-height: 15px;
color:$text-color;
}

/*second section */

.secondhome{
    margin-top:2.5rem;
    display: grid;
    grid-template-rows:repeat(2,auto);
}

.bottom__sec{
    padding-bottom:0;
    margin-bottom:0;
}


.secondhome__flex{

    
    display: flex;
    flex-direction: column;
    

     .thirdcap{
        font-family: 'Montserrat-bold';
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 49px;
        color: #291507;
        position: relative;
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        margin-bottom:2rem;

        &::before{
            content: "";
            display: block;
            width:60px;
            background-color:#4D270C;
            height:0.2rem;
            border-radius:77px;
            margin-bottom:0.8rem;
        }
    }



    span:nth-child(2){
        font-family:'Montserrat-black';
        font-style: normal;
        font-weight:500;
        line-height: 22px;
        font-size: 1.2rem;
        color: #291507;
        margin-bottom:2rem;
    }


    .anchor_tag{
       font-family:'Montserrat-bold';
       color: rgba(41, 21, 7, 0.6);
       text-decoration: none;
       display:flex;
       align-items: center;
       padding:0.2rem;
       max-width:60%;
       min-width:50%;
       margin-bottom:3rem;
     span{
          flex:0.7;
       }
       i{
          
           font-size:1.8rem;
           flex:0.3;
          
       }
       
    }
}


.images__grid{
    display:grid;
    grid-template-columns:1fr 3fr 3fr;
    grid-template-rows:auto 1fr;
    gap:1.1rem;
    margin-bottom:1rem;
    place-items: flex-end;
    padding:0rem;


  
    img{
        max-width:100%;


        &:hover{
            transform:scale(1.05);
        }

    }



    img:nth-child(1){
           grid-column:1/3;
            }

    img:nth-child(2){
           grid-column:2/3;
           grid-row:2/3;
           place-self: flex-start;
           }

    img:nth-child(3){
        grid-column:3/4;
        grid-row:1/3;
        place-self: flex-start;
    }

}


/* Media Queries - App.js*/

@import "global";




@media screen and (max-width:320px){
    .top{
        div{
            width:100% !important;
            
        }
    }

    .second_cap{
       width:100% !important;
    }

    .footer{
        padding: 0.9em 1.4rem;
        div{
            img{
               width:40%;
            }
            
            .c{

                i{
                    font-size:1rem;
                }
                span{
                   font-size:0.68rem;
                }
            }

        }
    }

}

@media screen and (min-width:321px) and (max-width:375px){
    .top{
        div{
            width:85% !important;
        }
    }


    .second_cap{
       width:100% !important;
    }

    .footer{
        padding: 0.9em 1.4rem;
        div{
            img{
               width:40%;
            }
            
            .c{

                span{
                   font-size:0.72rem;
                }
            }

        }
    }

}

@media  screen and (min-width:376px) and (max-width:430px) {
    .top{
        div{
            width:70% !important;
        }
    }


    .second_cap{
       width:100% !important;
    }


    .anchor_tag{
        width:40%;
    }

    .footer{
        padding: 0.9em 1.4rem;
        div{
            img{
               width:40%;
            }
            
            .c{

                span{
                   font-size:0.95rem;
                }
            }

        }
    }
}

@media screen and (min-width:431px) and (max-width:480px) {
  .footer{
    padding: 0.9em 1.4rem;
      div{
          align-items: center;
      }
  }
}

@media screen and (min-width:481px) and (max-width:600px){
    
    .home{
   

        .home-curve{
            .top{
           
              background:url('../Assests/HeroImagemd.png') center / cover no-repeat;
            
              div{
                  max-width:70%;

                  span:nth-child(1){
                  font-size: 2.1rem;
                  margin-bottom:2rem;
                }
    
              span:nth-child(2){
                font-size:1.4rem;
                margin-bottom:2rem;
                }
              }
    
            }

            .bottom{
               
                .first_cap{
                    font-size:1.3rem;
                    margin-bottom:1.5rem;
                    
                    &::after{
                      width:70px;
                      margin-top:0.8rem;
                    }
                }
                .second_cap{
                 width:60%;   
                 margin-bottom:2.1rem;
                 }
                }
            }
    }
    
    
    
    
    
    
    .grid__container{
        grid-template-columns:repeat(4,minmax(0,1fr));
    }
    
    
    
    /*second section */
    
    .secondhome{
    grid-template-columns:repeat(2,minmax(0,1fr));
    }

    .thirdcap{
         font-size:1.7rem !important;
    }
    

    .images__grid{
        padding-top:2rem;
    }

    .secondhome__flex{
    
        .anchor_tag{
          width:70%;
          max-width:none !important;
        }
    }


    .footer{

        padding: 0.9em 1.4rem;
        div{
            align-items: center;
            img{
                max-width:150px !important;
            }
            .c{
               span{
                font-size:1rem !important;
               }
            }
        }
    }


}

@media screen and (min-width:601px) and (max-width:768px){
    
    .home{
   

        .home-curve{
            .top{
           
              background:url('../Assests/HeroImagelg.png') center / cover no-repeat;
            
              div{
                  max-width:60%;

                  span:nth-child(1){
                  font-size: 2.1rem !important;
                  margin-bottom:2rem;
                }
    
              span:nth-child(2){
                font-size:1.4rem;
                margin-bottom:2rem;
                }
              }
    
            }


            .second_cap {
                width: 50% !important;
            }



            .bottom{
               
                .first_cap{
                    font-size:1.3rem;
                    margin-bottom:1.5rem;
                    
                    &::after{
                      width:70px;
                      margin-top:0.8rem;
                    }
                }
                .second_cap{
                 width:60%;   
                 margin-bottom:2.1rem;
                 }
                }
            }
    }

    
    .anchor_tag{
        width:60% !important;
    }
    
    
    
    
    
    
    .grid__container{
        grid-template-columns:repeat(4,minmax(0,1fr));
    }
    
    
    
    /*second section */
    
    .secondhome{
    grid-template-columns:repeat(2,minmax(0,1fr));
    }

    .thirdcap{
         font-size:1.7rem;
         width:80%;
    }
    

    .images__grid{
        padding-top:2rem;
    }

    .secondhome__flex{
    
        .anchor_tag{
          width:70%;
          max-width:none !important;
        }
    }


    .footer{

        padding: 0.9em 1.4rem;
        div{
            align-items: center;
            img{
                max-width:150px !important;
            }
            .c{
               span{
                font-size:1rem !important;
               }
            }
        }
    }


}

@media screen and (min-width:769px) and (max-width:1024px){
    
    .home{
   

        .home-curve{
            .top{
           
              background:url('../Assests/HeroImagelg.png') center / cover no-repeat;
            
              div{
                  max-width:40%;

                  span:nth-child(1){
                  font-size: 2.1rem !important;
                  margin-bottom:2rem;
                }
    
              span:nth-child(2){
                font-size:1.4rem;
                margin-bottom:2rem;
                }
              }
    
            }


            .second_cap {
                width: 35% !important;
            }


            }
    }

    
    .anchor_tag{
        width:50% !important;
    }
    
    
    
    
    
    
    .grid__container{
        grid-template-columns:repeat(4,minmax(0,1fr));
    }
    
    
    
    /*second section */
    
    .secondhome{
    grid-template-columns:repeat(2,minmax(0,1fr));
    }

    .thirdcap{
         font-size:1.7rem;
         width:80%;
    }
    

    .images__grid{
        padding-top:2rem;
    }

    .secondhome__flex{
    
        .anchor_tag{
          width:70%;
          max-width:none !important;
        }
    }


    .footer{

        padding: 0.9em 1.4rem;
        div{
            align-items: center;
            img{
                max-width:150px !important;
            }
            .c{
               span{
                font-size:1rem !important;
               }
            }
        }
    }


}

@media screen and (min-width:1025px) and (max-width:1440px){




    body{
        padding:4rem;
        padding-top:1rem;
        padding-bottom:0;
    }

    .home{
   

        .home-curve{
            .top{
           
              background:url('../Assests/HeroImagelg.png') center / cover no-repeat;
              padding:4rem 4rem 4rem 4rem;
            
              div{
                  
                  width:40%;
                  span:nth-child(1){
                  font-size: 2.5rem !important;
                  margin-bottom:2rem;
                }
    
              span:nth-child(2){
                font-size:1.8rem;
                margin-bottom:2rem;
                line-height:40px;
                }
              }

          .search-container{
              padding:0.7rem !important;
              font-size:1.5rem !important;
              margin-bottom:1.5rem;
              border-radius:40px !important;

              input{
                 font-size:1.4rem;
              }

              button{
                  i{
                     font-size:1.5rem !important;
                  }
              }
          }
    
            }

            .first_cap{
                font-size:1.5rem !important;
                margin-top:0.8rem;

                &::after{
                    margin-top:1.5rem !important;
                    height:0.3rem !important;
                    width:80px !important;
                }
            }

            .second_cap {
                width: 35% !important;
                font-size:2.2rem !important;
            }
            
            .bottom{
               
            }
        }
    
    }

    
    .anchor_tag{
        width:40% !important;
        min-width:250px !important;

        font-size:1.5rem !important;

        i{
            font-size:2.2rem !important;
        }
    }


    
    .thirdcap{
        width:60% !important;
        font-size:2.2rem !important; 


        &::before{
            margin-top:1.5rem !important;
                    height:0.3rem !important;
                    width:80px !important;
        }
    }
    
    .secondhome__flex{
        padding:1rem;
        span:nth-child(2){
            font-size: 1.5rem !important;
            line-height:40px !important;
        }
    }
    
    
    
    
    .grid__container{
        grid-template-columns:repeat(4,minmax(0,1fr));
    }
    
    
    
    /*second section */
    
    .secondhome{
    grid-template-columns:repeat(2,minmax(0,1fr));
    }

    .images__grid{
        padding-top:2rem;
    }


    .footer{

        padding: 1em 1.4rem;
        div{
            align-items: center;
            img{
                max-width:160px !important;
            }
            .c{

                i{
                    font-size:1rem !important;
                }
               span{
                font-size:1rem !important;
               }
            }
        }
    }

    .secondhome{
        margin-top:4rem;
    }

    .bottom{
        padding:4rem !important;
    }
}
