@import "global";

.BriefPage__container{
    max-width:100%;
    display: grid;
    grid-template-rows:auto 1fr;
    gap:2rem;
    margin-bottom:2rem;
   
    
    
 .image{
    position: relative;
    width:12rem;
    height:12rem;
    place-self:center;

    img{
        max-width:100%;
        border-radius:20px;
   }
    &::before{
            content:"";
            position:absolute;
            height:80%;
            width:50px;
            background-color:#DEC68B;
            left:-0.6rem;
            top:10%;
            border-radius:14px;
            z-index:-1;   
    }

   }
}



.brief_flex__container{
    color: #291507;
    display: flex;
    flex-direction: column;
    justify-items: center;
    
    
    
    .first{
        display: block;
        font-family:"Montserrat-bold";
        font-weight:400;
        font-size:1.8rem;
        line-height: 100%;
        margin-bottom:1rem;
    }

    .second{
        display: -webkit-box !important;
        font-family:'Montserrat-black';
        font-size:1.1rem;
        text-align:justify;
        font-style: Medium;
        line-height:1.5rem;
        overflow: hidden;

        margin-bottom:2rem;
    }
    
}

.details{

    margin-bottom:1rem;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;

    h{
        font-family:"Montserrat-bold";
        font-weight:400;
        font-size:0.9rem;
        line-height: 100%;
        margin-right:0.5rem;
       
    }

    span{
        font-family:'Montserrat-black';
        font-size:0.8rem;
        text-align:justify;
        font-style: Medium;
        line-height:1.6rem;
        overflow: hidden;
        flex-wrap: wrap;
    }
}

.gridcontent{

    display: grid;
    grid-template-columns:150px 1fr;
    place-content: center;
    align-items: baseline;
    row-gap:1rem;

    h{
    font-family:"Montserrat-bold";
    font-weight:400;
    font-size:0.9rem;
    line-height: 100%;
    }

}


.other{
        display: block;
        font-family:"Montserrat-bold";
        font-weight:400;
        font-size:1.5rem;
        line-height: 100%;
        margin-bottom:1rem;
        color: #291507;
}


.image__photos{
    display: grid;
    margin-bottom:1rem;
    gap:1.5rem;
    grid-template-columns:repeat(4,minmax(0,1fr));
    


    img{
        max-width:100%;
        border-radius:20px;
       
    }

}





@media screen and (max-width:600px) {
    .details{

        h{
            font-size:1rem;
        } 

        span{
           font-size:1.1rem;
        }

    }

    .gridcontent{
        h{
          font-size:1rem;
        }
    }

    .other{
        font-size:1.4rem;
    }

    .image__photos{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

}






@media screen and (min-width:601px) and (max-width:768px) {
    .first{
         font-size: 2rem !important;
    }
    .second{
        font-size:1.3rem;
    }
    .details{

        h{
            font-size:1.1rem;
        } 

        span{
           font-size:1.2rem;
        }

    }

    .gridcontent{
        h{
          font-size:1.1rem;
        }
    }

    .other{
        font-size:1.6rem;
    }

    .image__photos{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

}



@media screen and (min-width:769px) and (max-width:1024px) {

    .BriefPage__container{
     grid-template-columns: 1fr 2fr;

     .image{
         
         width:85%;
         height: auto;
         margin-left:2rem;
         place-self: baseline;
         
     }


    }

    .first{
         font-size: 2rem !important;
    }
    .second{
        font-size:1.3rem;
    }
    .details{

        h{
            font-size:1.1rem;
        } 

        span{
           font-size:1.2rem;
        }

    }

    .gridcontent{
        h{
          font-size:1.1rem;
        }
    }

    .other{
        font-size:1.6rem;
    }

    .image__photos{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

}


@media screen and (min-width:1025px) and (max-width:1440px) {

    .BriefPage__container{
     grid-template-columns: 1fr 2fr;

     .image{
         
         width:85%;
         height: auto;
         margin-left:2rem;
         place-self: baseline;
         
     }


    }

    .first{
         font-size: 2.2rem !important;
    }
    .second{
        font-size:1.4rem !important;
    }
    .details{
        margin-bottom:1.2rem;
        h{
            font-size:1.3rem;
            
        } 
        span{
           font-size:1.3rem;
        }

    }

    .gridcontent{

        
    grid-template-columns: auto 1fr;
    row-gap:1.2rem;
        h{
          font-size:1.3rem;
        }
    }

    .other{
        font-size:2rem;
    }

    .image__photos{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

}
