
// progress Bar Component
.Progress__container{

    display: flex;
    span{
        display: inline-block;
        background-color:#E0E0E0;        ;
        border-radius:0.5rem;
        width:100%;
        margin-right:0.5rem;
        }

        
    
}

