.topbreed__container{
    margin-bottom:1rem;
    display: flex;
    flex-direction:column;
    
    
    span:nth-child(1){
        color: #291507;
        font-family:'Montserrat-bold';
        font-style:bold;
        font-size:1.5rem;
        margin-bottom:2.5rem;
    }

}


.breed__details{
    width:100%;
    display:grid;
    
    gap:1.5rem;
    margin-bottom:2rem;
    place-items: center;

    

.img__cont{

    width:12rem;
    height:12rem;
    position: relative;

    img{
        max-width:100%;
        border-radius:20px;
        
    
    }

}

    .content__box{

        display: flex;
        flex-direction: column;


        span{
            margin-bottom:1rem;
            font-size:1.5rem;
            font-family:'Montserrat-bold';
        }

        p{
            font-size:1.2rem;
            font-family:'Montserrat-black';
            color: #291507;
        }
        
    }

}




@media screen and (min-width:601px) and (max-width:1440px) {
  

    .breed__details{
      
        grid-template-columns:1fr 4fr;
        gap:2rem;
        margin-bottom:3rem;
        place-items: start;
      
    
        
        .content__box{

            span{
                margin-bottom:1rem;
                font-size:1.5rem;
                font-family:'Montserrat-bold';
            }
    
            p{
                font-size:1.2rem;
                font-family:'Montserrat-black';
                color: #291507;
            }
            
        }
    
    }


   
}


@media screen and (min-width:1025px) and (max-width:1440px){
    .breed__details{
        gap:0px;
    }
}